<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h4 class="footer-header">Hillview Scouting</h4>
                <img class="footer-img" src="/static/images/hillviewscouting_logo.gif">
                <blockquote class="bq-inline small">
                    <p>Quote from our fearless leader.</p>
                    <footer>Jon Lopez - Scoutmaster</footer>
                </blockquote>
            </div>
            <div class="col-md-3">
                <h4 class="footer-header">Boy Scouts of America</h4>
                <img class="footer-img" src="/static/images/on-my-honor.png">
            </div>
            <div class="col-md-3">
                <h4 class="footer-header">Idaho</h4>
                <img class="footer-img" src="/static/images/idaho-seal.png">
            </div>
            <div class="col-md-3">
                <h4 class="footer-header">Hillview Methodist Church</h4>
                <img class="footer-img" src="/static/images/umc-logo.gif">
            </div>
        </div>
        <div class="row" style="margin: 5px;"></div>
    </div>
</nav>