{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row" style="height: 10px"></div>
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div style="border-radius: 15px; padding: 5px; background-color: rgba(232, 232, 232, .9);">
                <div class="row">
                    <img class="col-md-3 img-responsive" src="/static/images/baden-powell.png"/>
                    <blockquote class="col-md-7 blockquote">
                        <p>Where is there a boy to whom the call of the wild and the open road does not appeal?</p>
                        <footer>Lord Baden Powell</footer>
                    </blockquote>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
